@{
    ViewData["Title"] = "Home Page";
}
<div class="card mb-5 card border border-primary shadow-0">
    
    <div class="card-body ">
        <h5 class="card-title text-center">CRUD</h5>
        <hr />
        <p class="card-text">
            Esta es una aplicación web que tendrá las funciones básicas de un CRUD (Create, Read, Update y Delete) o por
            su traducción al español; Crear, Leer, Actualizar y Eliminar. Para simular la administración de contactos de una persona.
        </p>
        <p class="card-text"style="text-align:right">
            <small class="text-muted">EMMANUEL GARCÍA</small>
        </p>
    </div>
    <img src="https://lh3.googleusercontent.com/v--plqz3UIskeOZI5o1sfoyA6MLUEHSZh21jnRdF_fCj2J4umfwuOszibDzCNSiahRctHtiRskwJVjTskmY3AWWf6gYh06kKmhKZhX4NVQqxMERjGwA9CLFbzZqESWDrQ_g7DBPdeA=w2400"
     class="card-img-bottom"
     alt="..."
     height="350px"
     width="250px" />
</div>

